body
{
    font-family: 'Open Sans', sans-serif;
}

.fb-profile img.fb-image-lg{
    z-index: -110;
    width: 100%;  
    margin-bottom: 10px;
    border-radius: 25px;
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 1;
    width: 20%; 
    min-height: 20%;
    border-radius: 25px; 
}

@media (max-width:768px)
{
    
.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
}
}
.headingBottomBorder {
    border-bottom: solid;
    border-width: 2px;
    border-color: lightskyblue;
}

.iFrameFloat{
    margin: auto;
    width: 60%;
    border: 2px solid skyblue;
    border-radius: 25px;
    left: 100px;
    position: absolute;
}